<!--MAIN CONTAINER-->
<div class="container">

  <!--LEADERBOARD-->
  <div class="leaderboardContainer">
    <h1 class="mat-h1"> Ranking </h1>
    <mat-list class="leaderboardList">
      <mat-list-item *ngFor="let person of leaderboard; let i = index" [attr.data-index]="i">
          <div> {{i+1}} </div>
          <h3 matLine style="font-weight:bold">{{ person.name }}</h3>
          <p matLine> {{ person.username }} </p>
          <p matLine> Score: {{ person.score }}</p>
      </mat-list-item>
    </mat-list>
  </div>

  <!--FEED CONTAINER-->
  <div class="feedContainer">

      <h1 class="mat-h1" style="align-self:flex-start; margin-left:20px"> Feed </h1>

      <!--QUESTIONS-->
      <mat-card class="questionCard" *ngFor="let question of questions; let i = index" [attr.data-index]="i">
        <mat-card-header>
          <div mat-card-avatar class="profile-image-template"></div>
          <mat-card-title style="font-weight:bold">{{ question.askerName }}</mat-card-title>
          <mat-card-subtitle> {{ question.location }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ question.question }}
          </p>
        </mat-card-content>

        <!--ANSWERS CORRESPONDING TO EACH QUESTION, ONLY APPEARS WHEN TOGGLED-->
        <ng-container *ngIf="question.showAnswers">
          <mat-card class="answerCard" *ngFor="let answer of question.answers">
            <mat-card-header>
              <div mat-card-avatar class="profile-image-template"></div>
              <mat-card-title style="font-weight:bold">{{ answer.answererName }}</mat-card-title>
              <mat-card-subtitle> {{ question.location }} </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{ answer.answer }}
              </p>
            </mat-card-content>
          </mat-card>

          <!--TEXT AREA FOR ANSWERING QUESTION-->
          <mat-card>
            <mat-form-field style="margin-top:20px; width:100%;">
              <textarea matInput placeholder="My Answer" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="10" [(ngModel)]='currentAnswer'></textarea>
            </mat-form-field>
            <p *ngIf='!answersTableEntitled' style='color:red'>You do not have permission to add an answer.</p>
            <mat-card-actions align="end">
              <button mat-button (click)="submitAnswer(i, question.id)">SUBMIT</button>
            </mat-card-actions>
          </mat-card>
        </ng-container>

        <!--ACTION ITEMS FOR EACH QUESTION-->
        <mat-card-actions align="end">
          <button mat-button (click)="fetchAndLoadAnswers(i, question.id)">{{question.showAnswersButtonLabel}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
